@{
    Layout = "~/Views/Shared/_LayoutTrainer.cshtml";
}

<form action="/Trainer/SubmitExercise" method="post">
    <div class="row">
        <div class="col-md-2">
            <div class="field-wrap">
                <label class="lrg-label">
                    Exercise Name
                </label>
                <textarea class="form-control" name="Name" id="Name" rows="1" required></textarea>
            </div>
        </div>
    </div>
    <div class="field-wrap">
        <label class="lrg-label">
            Description
        </label>
        <textarea class="form-control" name="Description" id="Description" rows="2" required></textarea>
    </div>
    <div class="field-wrap">
        <label class="lrg-label">
            Video Link
        </label>
        <textarea class="form-control" name="Description" id="Description" rows="1" required></textarea>
    </div>

    <h3>Type of Exercise</h3>
    <div>
        <label>
            @Html.RadioButton("type", "2")Strength
        </label>
    </div>
    <div>
        <label>
            @Html.RadioButton("type", "1", new { @checked = true })Cardio
        </label>
    </div>

    <button type="submit" class="button button-block">Add Exercise</button>
</form>
