@{
    Layout = "~/Views/Shared/_LayoutTrainer.cshtml";
}

@using Capstone.Web.Models
@model List<User>

@foreach (User item in Model)
{
<div> @item.Last_Name </div>
}

<h1>Create a new plan for a client</h1>

<form action="/Trainer/CreatePlan" method="post">
    <div class="field-wrap">
        <label class="lrg-label">
            Plan Name
        </label>
        <textarea class="form-control" name="planNotes" id="planNotes" rows="3"></textarea>
    </div>

    <div class="field-wrap">
        <label class="lrg-label">
            Notes
        </label>
        <textarea class="form-control" name="planName" id="planName" rows="3"></textarea>
    </div>
    <button type="submit" class="button button-block">Create Plan</button>
</form>
