@{
    Layout = "~/Views/Shared/_LayoutTrainer.cshtml";
}
@using Capstone.Web.Models
@model List<User>

<h1>Client List</h1>


@foreach (User item in Model)
{
    <div>
        <a href="@("/Trainer/AddExercisesToWorkout?planId=" + item. + "&workoutId=" + item.Id)">@item.Name</a>
    </div>
}