
    <!--Registration Script-->
    <script src="~/Scripts/registration.js"></script>

    <div id="registration">
        <div class="form">

                <div id="signup">
                    <h1>Sign Up for Free</h1>

                    <form action="/" method="post">

                        <div class="top-row">
                            <div class="field-wrap">
                                <label>
                                    First Name<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" />
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Last Name<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" />
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input type="email" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Set A Password<span class="req">*</span>
                            </label>
                            <input type="password" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <input type="checkbox" name="is-trainer" id="is-trainer">
                            <label for="is-trainer">Are you registering as a profesional trainer?</label>

                            <div class="reveal-if-active">
                                Other stuff.
                            </div>
                        </div>

                            <button type="submit" class="button button-block">Get Started</button>

                    </form>

                </div>





        </div> <!-- /form -->

    </div>
<script>
    var FormStuff = {

        init: function () {
            this.applyConditionalRequired();
            this.bindUIActions();
        },

        bindUIActions: function () {
            $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
        },

        applyConditionalRequired: function () {

            $(".require-if-active").each(function () {
                var el = $(this);
                if ($(el.data("require-pair")).is(":checked")) {
                    el.prop("required", true);
                } else {
                    el.prop("required", false);
                }
            });

        }

    };

    FormStuff.init();
</script>

