
    <!--Registration Script-->
    <script src="~/Scripts/registration.js"></script>

    <div id="registration">
        <div class="form">

                <div id="signup">
                    <h1>Register Now</h1>

                    <form action="/User/Register" method="post">

                        <div class="top-row">
                            <div class="field-wrap">
                                <label>
                                    First Name<span class="req">*</span>
                                </label>
                                <input type="text" name="First_Name" required autocomplete="off" />
                            </div>

                            <div class="field-wrap">
                                <label>
                                    Last Name<span class="req">*</span>
                                </label>
                                <input type="text" name="Last_Name" required autocomplete="off" />
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Email Address<span class="req">*</span>
                            </label>
                            <input type="email" name="Email" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Set A Password<span class="req">*</span>
                            </label>
                            <input type="password" name="Password" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lg-1 padd-R-0">
                                    <input class="checkbox" type="checkbox" name="is-trainer" />
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10 padd-LR-0">
                                    <span class="checkbox-label">Register as a Trainer?</span>
                                    </div>
                                </div>


                            </div>




                        <button type="submit" class="button button-block">Get Started</button>

                    </form>

                </div>


        </div> <!-- /form -->

    </div>

<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });

    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            if ($(this).attr("value") == "checkbox") {
                $("#reveal-if-active").toggle();
            }
        });
    });

    //$('#checkbox-trainer').change(function () {
    //    $(this).next('reveal-if-active').toggle();
    //});


</script>

