@{ 
    Layout = "~/Views/Shared/_LayoutTrainee.cshtml";
}

@if (Session[SessionKeys.Email] == null)
{
    <h2>Welcome!</h2>
}
else
{
    <h2>Welcome Trainee @((string)Session[SessionKeys.Email])!</h2>
}

