@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>
<div>@Model</div>
@*<form action="/Trainee/SearchResult" method="get">*@
<div>
    <label>Search Type</label>
    <select name="SearchType" id="SearchTypeID">
        <option value="name">Name</option>
        <option value="price">Price Per Hour</option>
        <option value="location">Location</option>
    </select>
    <input type="text" id="searchString" name="SearchString" />
    <button name="searchButton">Search</button>
</div>
@*</form>*@

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Price Per Hour</th>
            </tr>
        </thead>
        <tbody id="searchTable"></tbody>
    </table>
</div>