@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="/Home/Search" method="get">
    <label>Search Type</label>
    <select name="SearchType">
        <option value="name">Name</option>
        <option value="Price Per Hour">Price Per Hour</option>
        <option value="Location">Location</option>
    </select>
    <input type="text" id="searchString" name="SearchString" />
    <button type="submit" name="searchButton">Search</button>
</form>

<table id="searchTable"></table>